{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">

    <div class="home" style="margin-top:3rem;">

        <div class="row">
            {% for project in object_list %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ project.image.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                    </div>
                    <div class="card-body">
                        <a href="{{ project.link }}" class="card-link">Live site</a>
                        <a href="{% url 'project_details' project.id %}" class="card-link">See project details</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h3>No posts available</h3>
            {% endfor %}
        </div>
    </div>
  

</div>

{% endblock %}